@import url(http://fonts.googleapis.com/css?family=Exo+2:400,200,200italic,300italic,300,600,600italic,800,800italic,700italic,700,400italic,100,100italic|Open+Sans:400,300italic,300,400italic,700,600,600italic);
/* @import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,100,700); */
*, .transition{   transition: all 0.5s ease 0s; -ms-transition: all 0.5s ease 0s;  -webkit-transition: all 0.5s ease 0s; -moz-transition: all 0.5s ease 0s; -o-transition: all 0.5s ease 0s; }




body {font-family: 'Open Sans', sans-serif; color: #444}
h1, h2, h3, h4, h5, h6 {font-family: 'Exo 2',  sans-serif;}
.element-center{ display: block;   margin: 0 auto;}


/* 'MODIFICACOES FOUNDATION
============================================== */
        .row {    max-width: 72.5rem;}
        .modal-full-large{}
        .pricing-table * {    line-height: 1.6;}
         small { font-size: 90%;}

/* ============================================ */

button, .button {
    background-color: #c0392a;
    color: #FFFFFF;
}


button.alternative, .button.alternative {
    background-color: #7E8B8C;
    border-color: #DADADA;
    color: #FFFFFF;
}

.google-button {
    background: none repeat scroll 0 0 #E05039;
    display: block;
    margin-top: 20px;
    position: relative;
    vertical-align: middle;
    width: 100%;
}


.google-button .icon {
    border-right: 1px solid;
    float: left;
    left: 0;
    padding: 20px 10px;
    position: absolute;
    top: 0;
    height: 100%;
}

.google-button .text{}


.button.acesso{width: 100%}




.header {
    /*
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.9);
    border-bottom: 1px solid #CCCCCC;
    */
    border-top: 3px solid #AA1F30;
     padding: 20px 0;
    position: relative;
  }




.nav-main{}
.nav-main-menu{margin: 20px 0 0;}
.nav-main-menu li{}
.nav-main-menu li a {     color: #fff; padding: 0 10px; border:1px solid transparent;}
.nav-main-menu li a:hover { border: 1px solid #fff !important}
.nav-main-menu li.active a { opacity: 0.8;   background: none repeat scroll 0 0 #333333;     color: #FFFFFF;}
 
.acesso a{  background: none repeat scroll 0 0 rgba(255,255,255,0.4);  color: #FFFFFF !important;}


.main {    }




/*'SECTIONS*/

    section.hero, section.footer, section.beneficios, section.recursos,  section.treinamento, section.contato, section.planos-e-precos, section.acesso{ padding: 0px 0 200px}

    section.header{}
    section.hero{  padding: 0;}
    section.footer{}
    section.beneficios{ padding-top: 0;}
    section.recursos{}    
    section.treinamento{}
    section.planos-e-precos{}
    section.recursos{}


.background-secundary {
    background: none repeat scroll 0 0 rgba(122, 11, 26, 1);
    color: rgb(255, 255, 255);
}


section:nth-child(2n) {  background: none repeat scroll 0 0 rgba(8, 139, 198, 0.1); }


.hero{      background: url("../img/theme-condominio/background.jpg") no-repeat scroll 0 0 rgba(0, 0, 0, 0) !important; }
.hero-inner {   padding: 100px 0;  }  

 
.slogan-titulo {
    color: #FFFFFF;
    font-size: 50px;
    font-weight: 600;
    letter-spacing: -2px;
    line-height: 50px;
    margin: 0;
    text-transform: uppercase;
}

 
.slogan {
    color: rgba(255, 255, 255, 0.7);
    font-size: 22px;
    font-weight: 100;
    margin-bottom: 20px;
}

 

















.section-title:before {
    border-top: 15px solid;
    content: "";
    display: block;
    height: 2px;
    margin: 0 auto;
    padding-top: 10px;
    text-align: center;
    width: 400px;
}


.section-title {
    font-size: 50px;
    font-weight: 100;
    letter-spacing: -2px;
    margin-bottom: 20px;
    margin-top: 0;
    padding-bottom: 30px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
}

.section-title h2 {
    border-top: 10px solid;
    display: inline-block;
}



















.fullscreen-bg:before {
    bottom: 0;
    box-shadow: 0 0 265px 55px black inset;
    content: "";
    left: 0;
    opacity: 0.6;
    position: fixed;
    right: 0;
    top: 0;
}


.fullscreen-bg {
    background-position: 50% 50%;
    background-size: cover;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
}



.sidebar {
    
}


#footer {
    background-color: #1F1F1F;
    border-top: 3px solid #AA1F30;
    color: #999999;
     padding: 40px 0;
 }

 #footer p {
    font-size: 0.7em !important;
}

#footer h4 {
    color: #FFFFFF;
}


/*
    Cor principal   #34A167
    Cor principal:hover #38AE6F;
*/

/*  MAIN STYLES */
 
.logotipo {
   /*  background: url("../img/theme-condominio/logotipo.png") no-repeat scroll 0 0 transparent; */
    display: block;
   /* padding: 20px 160px; */
    width: 230px;
}
    
/*  LISTA BLOCO */
    .lista-bloco{}
    .lista-bloco li{border: 1px solid transparent;}
    .lista-bloco li a {    display: block;    margin-top: 10px;}
    .lista-bloco li:hover {    background: none repeat scroll 0 0 #F2F2F2;    border: 1px solid #CCCCCC;}
    .lista-bloco p {    font-size: 0.95rem;    line-height: 1.5;}
    .lista-bloco img {    width: 100%;}
    .lista-bloco h4 {    font-size: 1.2rem;    font-weight: 600;    line-height: 1.2;}

    /*  PAINEIS */
    .panel.callout{  }



/* 'SECTION TREINAMENTO
============================================== */

    .lista-videos{display: inline;     list-style: none outside none;}

    .lista-videos li { padding: 5px; }


.lista-videos-item {
    border: 1px solid #CCCCCC;
    position: relative;
}
    .lista-videos-item{}
.lista-videos-item .titulo {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
    color: #FFFFFF;
    display: block;
    font-size: 16px;
    margin: 0;
    padding: 10px;
    position: absolute;
    top: 0;
    width: 100%;
}
    .lista-videos-item .imagem{ width: 100%}





.titulo {
     font-size: 38px;
}

.box-titulo {
    margin-bottom: 40px;
    text-align: center;
}

 
.subtitulo {
    font-size: 1em;
}


 



 /*  FORM LOGIN   */

 .form-login{ }   
 .form-login fieldset{ border: none } 


 .centered-text {
    text-align: center;
}


/* Pagina de recursos */


section.recursos .supporticons img {
    max-height: 200px;
    padding: 20px;
}



.box.sindico, .box.administrador, .box.condomino {
    border-radius: 6px;
    height: 300px;
    margin-bottom: 20px;
}

.box.sindico{         background: url("../img/theme-condominio/background.jpg") no-repeat scroll 0 0 rgba(0, 0, 0, 0) }
.box.administrador{   background: url("../img/theme-condominio/background.jpg") no-repeat scroll 0 0 rgba(0, 0, 0, 0) }
.box.condomino{       background: url("../img/theme-condominio/background.jpg") no-repeat scroll 0 0 rgba(0, 0, 0, 0) }






















